{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <h2>Shopping Cart</h2>
        <p>Free delivery on orders over ${{ free_delivery_threshold }}!</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
        {% if bag_items %}
            <div class="table-responsive">
                {{ bag_items }}
            </div>
        {% else %}
        <div>
            <p>Your cart is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black">
                <span class="icon"><i class="fas fa-arrow-alt-circle-left"></i>
                </span>
                <p>Keep Shopping</p>
            </a>
        </div>
        {% endif %}
        </div>
    </div>

</div>
    
{% endblock %}