{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Main Landing picture for home page-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gallery</h1>
        </div>
    </div>

    <!--About us section, contains text & photo about the company-->
    <div class="container">
        <div class="row">
            <!--Carousel -->
        </div>
    </div>

    <!--Instagram Grid-->
    <div class="container">
        <div class="row">
            <div class="grid col-12 col-lg-6 d-flex flex-row flex-wrap justify-content-center grid-container">
            <h3 class="insta-title">Instagram with us!</h3>
            <p>View some previously comissioned pieces and read customer testimonials</p>
                <div class="d-flex flex-column">
                    <img src="1" class="img-fluid">
                    <img src="2" class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                    <img src="3" class="img-fluid">
                    <img src="4" class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                    <img src="5" class="img-fluid">
                    <img src="6" class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                    <img src="7" class="img-fluid">
                    <img src="8" class="img-fluid">
                </div>
            </div>
            <div class="home-comission col-12 col-lg-6">
                <h4>See something you're intersted in?</h4>
                <a href=""><h3>Contact us today!</h3></a>
            </div>
        </div>
    </div>
{% endblock %}