/* General Styling for the Mug Shots Website */


/* Sets the body color to a dark mode, font set to Ubuntu from Google Fonts */

body {
	background-color: #161616;
	color: #dfdfdf;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 7.5em;
}


/* Font and color for main titles across site */

.page-title {
	font-family: 'Ranchers', cursive;
	color: #d4af37;
}


/* from Bulma, icons used across the site */

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
}


/* Footer Styles from base file, viewed on all pages */

footer {
	margin: 15px;
	padding: 20px;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 5);
}

footer>h4 {
	font-family: 'Ranchers', cursive;
}

.footer-phone {
	color: #d4af37;
	font-size: 0.75rem;
	text-decoration: none;
}

.footer-phone:hover {
	color: #dfdfdf;
}

.footer-email {
	color: #d4af37;
	font-size: 0.75rem;
	text-decoration: none;
}

.footer-email:hover {
	color: #dfdfdf;
}


/* Small buttons with icons, links to social pages. Color, size, and position set. Alternates color on hover */

.social-item {
	width: 32px;
	height: 32px;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	line-height: 6px;
	font-size: 20px;
	justify-content: center;
	color: #dfdfdf;
	background: #d4af37;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-item>a {
	color: #dfdfdf;
	padding-bottom: 5px;
}

.social-item:hover {
	background-color: #dfdfdf;
	padding-bottom: 5px;
}

.social-item>a:hover {
	color: #d4af37;
}


/* Search bar in footer */

.search-btn {
	background-color: #d4af37;
	color: #dfdfdf;
}


/* General Buttons, viewed across the site */

.user-btn {
	background-color: #133616;
	color: #dfdfdf;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.user-btn:hover {
	background-color: #d4af37;
	color: #dfdfdf;
}


/* Toasts */

.message-container {
	position: fixed;
	top: 125px;
	right: 20px;
	z-index: 999999999999;
}

.site-toasts {
	overflow: visible;
	opacity: 100;
	background-color: #d4af37;
	color: black;
}


/* General Card styling, cards used throughout the site */

.card-title {
	font-family: 'Ranchers', cursive;
	color: #133616;
	font-size: 2em;
}

.card-row {
	margin-top: 3em;
}

.user-card {
	background-color: #dfdfdf;
	color: #161616;
	border-radius: 1rem;
	-webkit-box-shadow: -10px -10px 15px 0 #d4af37;
	box-shadow: -10px -10px 20px 0 #d4af37;
	border: none;
}