html {
    height: 100%;
}

body {
    background-color: #161616;
    color: #dfdfdf;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 14em;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* Home- gallery */
.flex-column { 
       max-width : 260px;
   }

.grid-container {
    background: #dfdfdf;
}
      
img {
    margin: 5px;
}

.home-comission {
    background-color: #133616;
}


/* Footer Styles, viewed on all pages */
footer {
  margin: 15px;
  padding: 20px;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,5);
}

.footer-phone {
    color: #d4af37;
}

.footer-email {
    color: #d4af37;
}

.social-item {
     width: 32px;
     height: 32px;
     padding: 8px 0;
     border-radius: 50%;
     text-align: center;
     line-height: 6px;
     font-size: 20px;
     justify-content: center;
     color: #dfdfdf;
     background: #d4af37;
     margin-left: 25px;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.social-item > a {
    color: #dfdfdf;
    padding-bottom: 5px;
}

 .social-item:hover{
     background-color: #dfdfdf;
     padding-bottom: 5px;
}

.social-item > a:hover {
    color: #d4af37;
}

.search-btn {
    background-color: #d4af37;
    color: #dfdfdf;
}
