html {
    height: 100%;
}

body {
    background-color: #161616;
    color: #dfdfdf;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 14em;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Footer Styles, viewed on all pages */
footer {
  margin: 15px;
  padding: 20px;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,5);
}

footer > h4 {
    font-family: 'Ranchers', cursive;
}

.footer-phone {
    color: #d4af37;
    font-size: 0.75rem;
}

.footer-email {
    color: #d4af37;
    font-size: 0.75rem;
}

.social-item {
     width: 32px;
     height: 32px;
     padding: 8px 0;
     border-radius: 50%;
     text-align: center;
     line-height: 6px;
     font-size: 20px;
     justify-content: center;
     color: #dfdfdf;
     background: #d4af37;
     margin-left: 25px;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.social-item > a {
    color: #dfdfdf;
    padding-bottom: 5px;
}

 .social-item:hover{
     background-color: #dfdfdf;
     padding-bottom: 5px;
}

.social-item > a:hover {
    color: #d4af37;
}

.search-btn {
    background-color: #d4af37;
    color: #dfdfdf;
}


/* General Buttons */
.vertical-center {
  margin-left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* for to top button, shown on shop page*/
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link 
.update-link 
.remove-item {
    cursor: pointer;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 125px;
    right: 20px;
    z-index: 999999999999;
}

.site-toasts {
    overflow: visible;
    opacity: 100;
    background-color: #d4af37;
    color:black;
}

.cart-title {
    font-family: 'Ranchers', cursive;
    color: #133616;
    font-size: 2em;
}


/* Home Page */
.home-jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/media/main-1.jpg);
    background-size: cover;
    margin-top: 0.8em;
    height: 25em;
    background-position: center;
    font-family: 'Ranchers', cursive;
    text-align: center;
     color: #d4af37;
}

.home-jumbotron h1 {
    padding-top: 20px;
}


.shop-button {
    background-color: #d4af37;
    color: #dfdfdf;
    text-decoration: none;
    font-family: 'Ranchers', cursive;
    margin-top: 30px;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.shop-button:hover {
    background-color: #dfdfdf;
    color: #d4af37;
}

.about h3 {
    font-family: 'Ranchers', cursive;
}

#teamphoto {
    width: 90%;
    margin-bottom: 15px;
}

.flex-column { 
       max-width : 260px;
   }

.grid-container {
    background: #dfdfdf;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.grid-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 200%;
}

@media screen and (max-width: 600px) {
  .grid-column {
    flex: 50%;
    max-width: 50%;
  }
}

.home-ig p {
    color: #133616;
    font-size: 0.8rem;
    font-family: 'Ranchers', cursive;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 10px;
}

.home-comission {
    background-color: #133616;
    padding: 15px;
    text-align: center;
}

.home-comission h5 {
    font-family: 'Ranchers', cursive;
}

/* Shop Products Page */

.jumbotron-shop {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    margin-top: 0.8em;
    height: 15em;
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.btn-filter {
    background-color: #d4af37;
    color:#161616;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.btn-filter:hover {
    color: #dfdfdf;
}

.toggle-filter {
    background-color: #d4af37;
    color:#161616;
    margin-left: 8px;
}

.toggle-filter:hover {
    color: #dfdfdf;
}

.dropdown-menu {
    background-color: #dfdfdf;
}

.dropdown-item {
    color: #d4af37;
}

.dropdown-item:hover {
    background-color: #d4af37;
    color: #dfdfdf;
}

.product-card {
    background-color: #dfdfdf;
    font-family: 'Ranchers', cursive;
    color: #161616;
    text-align: center;
    border: 13px solid #dfdfdf;
    margin: 10px;
}

.product-img {
    width: 10em;
    height: 13em;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .product-img {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.background-text {
  color: #133616;
  font-size: 16px;
}

.add-btn {
    background-color:#133616;
    color:#dfdfdf;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.category-tag {
    color: #133616;
}

.add-btn:hover {
    background-color:#d4af37;
    color:#dfdfdf;
}

/* One product, a page to view a product by its product id */
.product-container {
    margin-top: 4em;
}

.img-container {
    text-align: center;
}

.product {
    width: 18em;
    height: 18em;
}

.one-product-name {
    font-family: 'Ranchers', cursive;
    font-size: 3em;
    color:#d4af37;
}

.one-product-btn {
    background-color:#133616;
    color:#dfdfdf;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.one-product-btn:hover {
    background-color:#d4af37;
    color:#dfdfdf;
}

/* Gallery Page */

.jumbotron-gallery {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    margin-top: 0.8em;
    height: 12em;
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.slide img {
    width: 40em;
    height: 30em;
    object-fit: cover;
}
           

    .image-container { 
        max-width: 800px; 
        position: relative; 
        margin: auto; 
    } 
           
    .next { 
        right: 0; 
    } 
           
    /* Next and previous icon design */
    .previous, 
    .next { 
        cursor: pointer; 
        position: absolute; 
        top: 50%; 
        padding: 10px; 
        margin-top: -25px; 
    } 
           
    /* caption decorate */
    .captionText { 
        color: #133616; 
        font-size: 14px; 
        position: absolute; 
        padding: 12px 12px; 
         bottom: 8px; 
        width: 100%; 
        text-align: center; 
    } 
           
     /* Slider image number */
    .slide-number { 
        background-color: #133616; 
        color: white; 
        border-radius: 25px; 
        right: 0; 
        opacity: .5; 
        margin: 5px; 
        width: 30px; 
        height: 30px; 
        text-align: center; 
        font-weight: bold; 
        font-size: 24px; 
        position: absolute; 
    } 
    .fa { 
        font-size: 40px; 
    } 
           
    .fa:hover { 
        transform: rotate(360deg); 
        transition: 1s; 
        color: #dfdfdf; 
    } 
           
    .dot { 
        cursor: pointer; 
        height: 15px; 
        width: 15px; 
        margin: 0 2px; 
        background-color: #dfdfdf; 
        border-radius: 50%;
        display: inline-block; 
        transition: background-color 0.5s ease; 
    } 
           
    .active, 
    .dot:hover { 
        background-color: #d4af37; 
    } 

.insta-text {
    font-family: 'Ranchers', cursive;
}

.insta-link {
        color:#d4af37;
        text-decoration: none;
        font-family: 'Ranchers', cursive;
    }

.insta-link:hover {
    text-decoration: none;
    color: #dfdfdf;
}

.images-row {
    margin-left: 20px;
}

.gallery-container {
    margin: 8px;
}

.gallery-grid-img {
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gallery-grid-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 10em;
}

.gallery-container:hover .gallery-grid-text {
  opacity: 1;
}

.gallery-container:hover .gallery-grid-img {
  opacity: 0.5;
}


.gallery-container:hover {
    -moz-box-shadow: 0 0 10px #d4af37;
      -webkit-box-shadow: 0 0 10px #d4af37;
      box-shadow: 0 0 10px #d4af37;
     opacity: 0.3;
}       

.gallery-grid-text p {
  color: #fff;
  font-size: 20px;
}

.comission-container {
    margin-top: 10px;
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.contact-btn {
    background-color:#d4af37;
    color:#dfdfdf;
}

.contact-btn:hover {
    background-color:#dfdfdf;
    color: #d4af37;
}

/* Shopping Cart App */
.shopping-container {
    margin-top: 2.5em;
}

.table {
    color:#dfdfdf;
}

.shopping_cart_title {
    font-family: 'Ranchers', cursive;
}

.empty-row {
    margin-left: 15px;
}

.cart-table {
     color: #d4af37;
}

.plus-minus-button {
    background-color:#d4af37;
    color:#dfdfdf;
}

.alert-message {
    color: #d4af37;
}

.qty-text {
    border: 2px solid #dfdfdf;
}

/* login & sign up pages */
.page-title {
    font-family: 'Ranchers', cursive;
    color: #d4af37;
}

.user-btn{
    background-color:#133616;
    color:#dfdfdf;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.user-btn:hover {
    background-color:#d4af37;
    color:#dfdfdf;
}

.user-card {
    background-color: #dfdfdf;
    color: #161616;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 15px 0 #d4af37;
    box-shadow: -10px -10px 20px 0 #d4af37;
    border: none;
    
}

.signup-link{
    text-decoration: none;
    color: #d4af37;
}

.order-history-table {
    color: #161616;
}

/* Syles specifically for the superuser to see, not visable on other pages */
.btn-file {
    color: #dfdfdf;
}