/* Shop Products App */


/* Main landing section, contains the title and filter/sort buttons */

.jumbotron-shop {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	margin-top: 0.8em;
	height: 15em;
	text-align: center;
	font-family: 'Ranchers', cursive;
}


/* filter buttons, color set. changes color on hover */

.btn-filter {
	background-color: #d4af37;
	color: #161616;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.btn-filter:hover {
	color: #dfdfdf;
}


/* Filter dropdown, colors set for static and on hover */

.toggle-filter {
	background-color: #d4af37;
	color: #161616;
	margin-left: 8px;
}

.toggle-filter:hover {
	color: #dfdfdf;
}

.dropdown-menu {
	background-color: #dfdfdf;
}

.dropdown-item {
	color: #d4af37;
}

.dropdown-item:hover {
	background-color: #d4af37;
	color: #dfdfdf;
}


/* Each product in database is viewed as a card, background color, text color, and font set */

.product-card {
	background-color: #dfdfdf;
	font-family: 'Ranchers', cursive;
	color: #161616;
	text-align: center;
	border: 13px solid #dfdfdf;
	margin: 10px;
}


/* Image displayed on card */

.product-img {
	width: 10em;
	height: 13em;
	object-fit: cover;
	transition: .5s ease;
	backface-visibility: hidden;
}


/* for product details on card */

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}


/* Image changes opacity on hover */

.img-container:hover .product-img {
	opacity: 0.3;
}

.img-container:hover .middle {
	opacity: 1;
}

.background-text {
	color: #133616;
	font-size: 16px;
}


/* tag to show category, color set */

.category-tag {
	color: #133616;
}


/* One product, a page to view a product by its product id */

.product-container {
	margin-top: 4em;
}

.img-container {
	text-align: center;
}

.product {
	width: 18em;
	height: 18em;
}


/* Product title */

.one-product-name {
	font-family: 'Ranchers', cursive;
	font-size: 3em;
	color: #d4af37;
}


/* button to add product to cart, or return to view all products */

.one-product-btn {
	background-color: #133616;
	color: #dfdfdf;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.one-product-btn:hover {
	background-color: #d4af37;
	color: #dfdfdf;
}


/* Syles specifically for the superuser to see on the add and edit pages, not visable on other pages */

.btn-file {
	color: #dfdfdf;
}


/* for to top button, shown on shop all products page */

.btt-button {
	height: 42px;
	width: 42px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.btt-link .update-link .remove-item {
	cursor: pointer;
}