<nav class="navbar navbar-expand-lg navbar-light">
   <a href="{% url 'home' %}" class="nav-link main-logo-link">
      <h2 class="logo-font text-center">Mug Shots</h2>
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#small-nav" aria-controls="small-nav" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fas fa-ellipsis-h custom-toggler-icon"></i>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-auto mx-auto right">
         <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}" id="nav-home">
               <i class="fas fa-coffee {{ home_page }}"></i>
               <p>Home</p>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}" id="nav-shop">
               <i class="fas fa-coffee {{ shop_page }}"></i>
               <p>Shop</p>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}" id="nav-gallery">
               <i class="fas fa-coffee {{ gallery_page }}"></i>
               <p>Gallery</p>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}" id="nav-contact" >
               <i class="fas fa-coffee {{ contact_page }}"></i>
               <p>Contact</p>
            </a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <div class="text-center">
                  <i class="fas fa-coffee"></i>
                  <p>My Account</p>
               </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
               {% if request.user.is_authenticated %}
               {% if request.user.is_superuser %}
               <a href="{% url 'add_product' %}" class="dropdown-item">Management</a>
               {% endif %}
               <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
               <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
               {% else %}
               <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
               <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
               {% endif %}
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link grand-total" href="{% url 'view_bag' %}" >
               <div class="text-center">
                  <div><i class="fas fa-shopping-cart {{ cart }}"></i></div>
                  <p class="my-0">
                     {% if grand_total %}
                     ${{ grand_total|floatformat:2 }}
                     {% else %}
                     $0.00
                     {% endif %}
                  </p>
               </div>
            </a>
         </li>
      </ul>
   </div>
</nav>