<div id="small-nav" class="small-nav collapse">
   <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item">
         <a class="nav-link" href="{% url 'products' %}" id="nav-shop">
            <p>Shop</p>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'gallery' %}" id="nav-gallery">
            <p>Gallery</p>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'contact' %}" id="nav-contact">
            <p>Contact</p>
         </a>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <div class="text-center">
                  <p>My Account</p>
               </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
               {% if request.user.is_authenticated %}
               {% if request.user.is_superuser %}
               <a href="{% url 'add_product' %}" class="dropdown-item">Management</a>
               {% endif %}
               <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
               <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
               {% else %}
               <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
               <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
               {% endif %}
            </div>
    </li>
    <li class="nav-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
            <div class="text-center">
               <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            </div>
        </a>
    </li>
   </ul>
</div>