{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}Add Product{% endblock %}

{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}
<!--Page for store management, staff can add a new product to the database by a form-->
<div class="container">
   <div class="row">
      <div class="col-12 col-md-6">
         <hr>
         <h2 class="page-title mb-4">Product Management</h2>
         <h5>Add Products</h5>
         <hr>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-md-6">
         <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
               <a class="btn user-btn" href="{% url 'products' %}">Cancel</a>
               <button class="btn user-btn" type="submit">Add Product</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/image.js' %}"></script>
{% endblock %}