{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Product Details-->
    <div class="container product-container">
        <div class="row">
                {{% for product in products %}}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    {{% if product.image %}}
                        <img class="card-img-top product-img" src="{{ product.img.url }}" alt="{{ product.name }}">
                    {{% else %}}
                        <img class="card-img-top no-product-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {{% endif %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card-body">
                            <h4 class="product-name">{{ product.name }}</h4>
                            <h5 class="product-price">${{ product.price }}</h5>
                            <p class="product-price">${{ product.description }}</p>
                            <p class="product-id">{{ product.sku }}</p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                {{% endfor %}}
        </div>
    </div>
{% endblock %}