{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Main Landing picture for shop page to view all products-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">SHOP</h1>
        </div>
    </div>

    <!--Sort by size-->
    <div class="filter-buttons btn-group" role="group">
        <a href="{% url 'products' %}?category=twelve_oz">12 oz</a>
        <a href="{% url 'products' %}?category=sixteen_oz">16 oz</a>
        <a href="{% url 'products' %}?category=twentyfour_oz">24 oz</a>
        <a href="{% url 'products' %}?category=sale">SALE</a>
        <a href="{% url 'products' %}?category=new_arrivals">New Arrivals</a>
    </div>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Lowest Price</a>
    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Highest Price</a>
    <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
  </div>
</div>

    <!--Products-->
    <div class="container product-container">
        <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="width: 18rem;">
                   {% if product.image %}
                    <a href="{% url 'one_product' product.id %}">
                        <img class="card-img-top product-img" src="/media/{{ product.image }}" alt="{{ product.name }}">
                    </a>
                   {% else %}
                    <a href="{% url 'one_product' product.id %}">
                        <img class="card-img-top no-product-img" src="/media/no-image.jpg" alt="{{ product.name }}">
                    </a>
                   {% endif %}
                        <div class="card-body">
                            <h4 class="product-name">{{ product.name }}</h4>
                            <h5 class="product-price">${{ product.price }}</h5>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}